body {
    background: radial-gradient(ellipse at center, red, green, blue);
    background-size: 30%;
    background-position: center center;
}

h1,
p,
button {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48px;
    color: white;
}

p {
    font-size: 24px;
    color: white;
}

img {
    position: absolute;
}

div {
    position: absolute;
    width: 500px;
    height: 500px;
}

#rightSide {
    left: 500px;
    border-left: 1px solid;
}